<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<div class="container">
<header class="header-container w3-xlarge">
    <p class="w3-left">EliceGym</p>
    <p class="w3-right">
        <i class="fa fa-shopping-cart w3-margin-right"></i>
        <i class="fa fa-search"></i>
    </p>
</header>



    <div class="container" id="container">
        <div class="detail_main">
            <div class="section_view">
                <div class="section_left">
                    <div class="thumb">
                        <img
                                src="/img/product_test1.jpg"
                                alt="상품 대표 이미지"
                                class="bg"
                        />
                    </div>
                </div>
                <div class="section_right">

                    <div class="detail_title">
                        <div class="detail_title_main">
                            <span>상품명 입력란</span>

                        </div>
                        <span class="short_desc">상품 짧은 소개란</span>
                    </div>
                    <div class="detail_price">
              <span class="price">
                <span class="per">[할인율%]</span> <span id="gd_price" data-price="259000"> 259,000</span><span class="money_kor">원</span>

                </span
                >
                    </div>




                    <div class="detail_seller">
                        <div class="detail_seller_title">
                            <span>제조사</span>
                        </div>
                        <div class="detail_seller_desc">
                            <p class="first">Elice</p>
                        </div>
                    </div>


                    <div class="detail_unit">
                        <div class="detail_unit_title">
                            <span>배송비</span>
                        </div>
                        <div class="detail_unit_desc">
                            <p class="first">배송비 입력</p>
                        </div>
                    </div>

                    <div class="detail_weight">
                        <div class="detail_weight_title">
                            <span>중량/용량</span>
                        </div>
                        <div class="detail_weight_desc">
                            <p class="first">중량/용량 입력</p>
                        </div>
                    </div>

                    <div class="detail_expir_date">
                        <div class="detail_expir_date_title">
                            <span>소비기한</span>
                        </div>
                        <div class="detail_expir_date_desc">
                            <p class="first">소비기한 입력</p>
                        </div>
                    </div>

                    <div class="detail_product_select">
                        <div class="detail_product_select_title">
                            <span>상품선택</span>
                        </div>
                        <div class="detail_product_select_desc">
                            <div class="option">
                  <span class="count">
                    <button type="button" class="btn down on" >
                      수량내리기
                    </button>
                    <input
                            type="number"
                            readonly="readonly"
                            value="1"
                            class="inp"
                    />
                    <button type="button" class="btn up on">수량올리기</button>
                  </span>
                            </div>
                        </div>
                    </div>

                    <div class="detail_total_price">
                        <div class="detail_total_price_main">
                            <span>총 상품금액: <span class="won" id="won">0</span> <span>원</span> </span>
                        </div>
<!--                        <div class="detail_total_price_bottom">-->
<!--                            <span class="ico">적립</span>-->
<!--                            <span class="point">-->
<!--                  구매 시-->
<!--                  <strong class="emph">0원 적립</strong>-->
<!--                </span>-->
<!--                        </div>-->
                    </div>

                    <div class="purchase_button">
<!--                        <div class="first_btn">-->
<!--                            <button type="button" class="btn btn_heart">-->
<!--                  <span>-->
<!--                    <img-->
<!--                            src=""-->
<!--                            alt="상품 찜하기"-->
<!--                            class="logo_img"-->
<!--                    />-->
<!--                  </span>-->
<!--                            </button>-->
<!--                        </div>-->
                        <div class="sec_btn">
                            <button type="button" class="btn btn_notice">
                  <span>
                    <img
                            src="/img/product_notice.svg"
                            alt="상품 알림 설정"
                            class="logo_img"
                    />
                  </span>
                            </button>
                        </div>
                        <div class="third_btn">
                            <button type="button" class="btn btn_cart">
                                <a href="OrderPage.html">주문하기</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
</div>

</body>
</html>